body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:1138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:28px;
  width:514px;
  height:1138px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1714_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u1716 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:84px;
  width:41px;
  height:1101px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:81px;
}
#u1717 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:1104px;
  width:512px;
  height:81px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1717_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u1718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:41px;
  height:1101px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:60px;
}
#u1719 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:36px;
  width:514px;
  height:60px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#282828;
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:110px;
  width:169px;
  height:32px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#282828;
}
#u1720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1721 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:110px;
  width:27px;
  height:27px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:333px;
  width:342px;
  height:1px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u1723 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:392px;
  width:342px;
  height:1px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1724 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:300px;
  width:29px;
  height:29px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1725 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:359px;
  width:29px;
  height:29px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u1726 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:307px;
  width:99px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u1726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u1727 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:366px;
  width:99px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u1727_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u1728 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:455px;
  width:342px;
  height:1px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1728_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1729 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:422px;
  width:29px;
  height:29px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1729_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u1730 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:429px;
  width:99px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u1730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:416px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u1731 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:504px;
  width:342px;
  height:416px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u1731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#00CCFF;
}
#u1732 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:701px;
  width:109px;
  height:21px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#00CCFF;
}
#u1732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1733 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:1004px;
  width:342px;
  height:60px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1733_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:338px;
  word-wrap:break-word;
}
