body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:1138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u3411 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:28px;
  width:514px;
  height:1138px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u3411_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
}
#u3412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u3412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u3413 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:84px;
  width:41px;
  height:1101px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u3413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:81px;
}
#u3414 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:1104px;
  width:512px;
  height:81px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u3414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u3415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:41px;
  height:1101px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u3415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:60px;
}
#u3416 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:36px;
  width:514px;
  height:60px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u3416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#282828;
}
#u3417 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:110px;
  width:169px;
  height:32px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#282828;
}
#u3417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u3418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u3418 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:110px;
  width:27px;
  height:27px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u3418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u3419 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:333px;
  width:342px;
  height:1px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u3419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u3420 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:392px;
  width:342px;
  height:1px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u3420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3421 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:300px;
  width:29px;
  height:29px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u3421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3422 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:359px;
  width:29px;
  height:29px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u3422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u3423 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:307px;
  width:99px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u3423_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u3424 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:366px;
  width:99px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u3424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u3425 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:455px;
  width:342px;
  height:1px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u3425_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3426 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:422px;
  width:29px;
  height:29px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u3426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u3427 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:429px;
  width:99px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u3427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:416px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u3428 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:504px;
  width:342px;
  height:416px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u3428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#00CCFF;
}
#u3429 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:701px;
  width:109px;
  height:21px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#00CCFF;
}
#u3429_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u3430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3430 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:1004px;
  width:342px;
  height:60px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3430_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:338px;
  word-wrap:break-word;
}
