body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:1138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1634 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:28px;
  width:514px;
  height:1138px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1634_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
}
#u1635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:85px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u1636 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:84px;
  width:41px;
  height:1101px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:81px;
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:1104px;
  width:512px;
  height:81px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:1101px;
}
#u1638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:41px;
  height:1101px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:60px;
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:36px;
  width:514px;
  height:60px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#282828;
}
#u1640 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:110px;
  width:169px;
  height:32px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#282828;
}
#u1640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1641 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:110px;
  width:27px;
  height:27px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u1642 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:333px;
  width:342px;
  height:1px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u1643 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:392px;
  width:342px;
  height:1px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1644 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:300px;
  width:29px;
  height:29px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1645 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:359px;
  width:29px;
  height:29px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u1646 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:307px;
  width:99px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u1646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:366px;
  width:99px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u1647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:455px;
  width:342px;
  height:1px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:422px;
  width:29px;
  height:29px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u1649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:429px;
  width:99px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u1650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:416px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u1651 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:504px;
  width:342px;
  height:416px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u1651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#00CCFF;
}
#u1652 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:701px;
  width:109px;
  height:21px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#00CCFF;
}
#u1652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:1004px;
  width:342px;
  height:60px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1653_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:338px;
  word-wrap:break-word;
}
